# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/*.ilk
/*.opensdf
/*.sdf
/bin/*.pdb
/ipch/laig-tp2-3b42288b/*.ipch
/bin/*.ilk
